@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

.navcontent1 li:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.content1 h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    font-size: 50px;
}

.content1 p{
    color: white;
    font-weight: 200;
    font-size: 15px;
}
ul{
    list-style-type: none;
}

#button1{
    background-color: #2131B6;
    color: white;
    width: 15%;
    height: 55px;
    font-weight: 100px;
    font-size: 15px;
    border-radius: 15px;
}

.container1{
    background-color: rgba(0, 0, 0, 0.411);
    text-align: center;
    background-size: cover;
    background-image: url(../images/Background1/hero/Rectangle\ 1@2x.svg);
    background-blend-mode: multiply;
    height: 800px;
}

.navbar1{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    
}

.content1{
    margin-top: 180px;
}

#img{
    height: 700px;
    width: 700px;
}

.navcontent1 li{
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
}

.navcontent1 li a{
    text-decoration: none;
    color: white;
}

.container2{
   background-color: white;
   display: flex;
   justify-content: space-between;

}
.content2{
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 200px;
}
.p{
    color: #2131B6;
}
.content2 p{
    color: black;
}
.content2 h1{
    color: black;
}
#button2{
    background-color: #2131B6;
    height: 50px;
    width: 50%;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}.container3{
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}
.content3{
    margin-top: 90px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left
}
.content3 h2{
    color: #2131B6;
}
.content3 h1{
    color: black;
    font-size: 40px;
}
.content3 p{
    color: black;
    font-size: 18px;
}
.port1{
    display: flex;
    justify-content: space-between;
}
.port2{
    display: flex;
    justify-content: space-between;
}
.port1 h1{
    color:#2131B6;
}
.port2 h1{
    color: #2131B6;
}
#img2{
    width: 650px;
    padding-bottom: none;
}

.container4{
    background-color: #F9F9FA;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;
}
#line{
    width: 60px;
    border: 1px solid blue;
    margin-left: 625px;  
}
.vehicle{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.vehicle p{
    text-align: left;
}

.vehicle h2{
    color: #2131B6;
}
.vehicle button{
    background-color: #2131B6;
    width: 70%;
    height: 40px;
    margin-left: 40px;
    border-radius: 15px;
}
.regularcar{
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
    
}
.jeep{
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
}
.minivan{
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
}
.limosine{
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
}

.limosine img{
    margin-top: -100px;
    margin-left: 20px;
}


.container5{
    background-color: rgba(0, 0, 0, 0.411);
    text-align: center;
    background-size: cover;
    background-image: url(../images/Background1/hero/Rectangle\ 1@2x.svg);
    background-blend-mode: multiply; 
    background-position: 5px;
    width: 1349px;
    height: 300px;
   
}
.content4{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 100px;
}

.content4 h1{
    text-align: left;
    color: #FFFFFF;
}
.content4 button{
    color: #FFFFFF;
    width: 300px;
    height: 100px;
    background-color: #2131B6;
    font-size: 20px;
    border-radius: 15px;
}

.container6{
    background-color: #FFFFFF;
    text-align: center;
    height: 600px;
    line-height: 1.5;
}
div.container6 hr{
    margin-left: 650px;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
#i{
    width: 350px;
    margin-left: -30px;
}
#ii{
    width: 330px;
}
#iii{
    width: 300px;
}
#iv{
    width: 350px;
}
.imades p{
    background-color: #fcfcfc;
}
.container7{
    background-color: rgb(248, 244, 244);
    /* text-align: center; */
}
div#galcon p{
    line-height: 1.5;
}
#galcon h3{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 450px;
    padding: 20px 10px;
}
#galcon #hr{
    margin-left: 650px;
}
#galcon hr{
    margin-left: 525px;
    margin-top: -10px;
}
#galcon h1, p{
    text-align: center;
}
#gallery{
    display: flex;
    justify-content: space-evenly;
}
#bi3{
    width: 580px;
    height: 544px;
}
#bi4{
    width: 580px;
    height: 544px;
}
#bi1{
    width: 580px;
    height: 544px;
}
#bi2,#bi5{
    /* max-width: 50%; */
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* margin: 0 auto; */
       
}

 #gallery2{
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100%;
     margin:0 auto;
    
}
.container8{
    background-color: rgb(248, 245, 245);
    height: 600px;
}
div.container8 p{
    color: grey;
}
div.container8 h1{
    text-align: center;
}
#p{
    color: #2131B6;
}
#icons{
    display: flex;
    justify-content: space-evenly;
}
#comment{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
} 
div#comment strong{
font-size: 30px;
}
#div1{
    margin-top: 20px;
    margin-bottom: -30px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
}
#div11{
    margin-top: 20px;
    margin-bottom: -30px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #2131B6; 
}
#div11 > *{
    color: white;
}

div.container9{
    background-color: #FFFFFF;
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

div.container9 h1{
    font-size: 17px;
}
#contact{
    background-color: white;
    max-width: 700px;
    height: 700px;
    text-align: center;
    padding-top: 70px;
}
hr{
    width: 60px;
    border: 1px solid blue;
    margin-left: 310px;
}
#contact > h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact p{
    line-height: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#map{
    background-image: url(../images/Map.svg);
    height: 700px;
}
div#map > div.mapcon{
    background-color: #FFFFFF;
    width: 50%;
    margin-top: 30px;
    margin-left: 20px;
    /* grid: 1fr 1fr; */
}
div.dos > p{
    line-height: 1.5;
}
div#map > img{
    position: relative;
    bottom: 40px;
    left: 220px;
}
div.mapcon{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: black;
    height: 90px;
    width: 100%;
}
div.footer p{
    color: white;
    padding: 30px 0px 20px 0px;
    font-size: 15px;
}
div.container9 button{
    background-color: #2131B6;
    color: white;
    width: 500px;
    height: 60px;
    font-weight: 100px;
    font-size: 15px;
    margin-top: 30px;
}
.input{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#tex1{
    border: 1px solid grey;
    height: 35px;
    width: 200px;
    padding-left: 10px;
    margin-right: 10px;
}
#tex2{
    border: 1px solid grey;
    height: 35px;
    width: 200px;
    padding-left: 10px; 
}
#tex3{
    border: 1px solid grey;
    height: 40px;
    width: 500px;
    padding-left: 10px;
}
#tex4{
    border: 1px solid grey;
    height: 85px;
    width: 500px;
    padding-left: 10px;
}
#tex5{
    border: 2px solid black;
}
#contentinput{
    line-height: 4;
}
#robot{
    background-color: white;
    color: black;
    width: 200px;
    text-align: left;
    margin-right: 300px;
    padding-left: 10px;
    border-radius: none;
    border: 1px solid grey;
}

/* hr{
    color: #2131B6;
    width: 3%;
    border-style: none;
    border-top-style:dotted;
    border-width: 3px;
} */




